html,
body {
    margin:0;
    padding:0;
    height:100%;
    overflow: hidden;
    font-family: Ubuntu;
    font-size: 3.5vmin;
    background-color: black;
    color: white;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    touch-action: none;
}

.color-normal {
    color: white;
}

.color-danger {
    color: red;
}

.color-warning {
    color: #fc0;
}

.color-ok {
    color: #0c0;
}

.map {
    height: 100%;
    width: 100%;
}

#dataview {
    display: flex;
    overflow: auto;
}

.tblDataView {
    width: 100%;
    align-self: center;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 0;
    margin-bottom: 0;
}

.tblDataViewCellHeader {
    font-size: 0.6em;
    color: #bbb;
}

.smalltext {
    font-size: 0.7em;
}

.titleBox {
    align-self: center;
}

.statusIcon {
    height: 2em;
    width: 2em;
}

.rightIcon {
    right: 1em;
    position: absolute;
}

.textIcon {
    height: 1em;
    width: 1em;
}

/* Portrait */
@media only screen and (orientation : portrait)
{
    #container {
        min-height:100%;
        position:relative;
        overflow: hidden;
    }
    #dataview {
        height:30%;
        width:100%;
        position:absolute;
        bottom:70%;
    }
    #mapview {
        height:40%;
        width:100%;
        bottom:30%;
        position:absolute;
    }
    #hudview {
        height:30%;
        width:100%;
        bottom:0;
        position:absolute;
    }
    @supports(bottom: max(0px)) {
        #headerview {
            bottom: calc(90% + max(0px, env(safe-area-inset-bottom)));
        }
        #dataview {
            bottom: calc(70% + max(0px, env(safe-area-inset-bottom)));
        }
        #mapview {
            bottom: calc(30% + max(0px, env(safe-area-inset-bottom)));
        }
        #hudview {
            bottom: max(0px, env(safe-area-inset-bottom));
        }
    }
}

/* Font Stuff */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/css/Ubuntu-Regular.woff2) format('woff2'),
       url(/css/Ubuntu-Regular.ttf) format('ttf');
}


/* The sidebar menu */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #333;
    overflow-x: hidden;
    padding-top: 5vmin;
    transition: 0.5s;
  }

  /* The sidebar links */
  .sidebar a,
  #brokerSettings a,
  #uiSettings a
  {
    padding: 2vmin 2vmin 2vmin 4vmin;
    text-decoration: none;
    font-size: 1.5em;
    color: #CCC;
    display: block;
    transition: 0.3s;
  }
  
  .menufooter
  {
    padding: 2vmin 2vmin 2vmin 4vmin;
    text-decoration: none;
    font-size: 0.8em;
    color: #AAA;
    display: block;
    transition: 0.3s;
    bottom: 2em;
    position: absolute;
  }

  /* When you mouse over the navigation links, change their color */
  .sidebar a:hover,
  #brokerSettings a:hover,
  #uiSettings a:hover
  {
    color: #FFF;
  }

  .sidebar a:focus,
  #brokerSettings a:focus,
  #uiSettings a:focus
  {
    color: #3F3;
  }

  /* Position and style the close button (top right corner) */
  .sidebar .closebtn,
  #brokerSettings .closebtn,
  #uiSettings .closebtn
  {
    position: absolute;
    top: 0;
    right: 2vmin;
    font-size: 3em;
    margin-left: 2vmin;
  }
  
#brokerSettings,
#uiSettings
{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: #666;
    overflow-x: auto;
    padding-top: 4vmin;
    transition: 0.5s;
    font-size: 0.9em;
}

#brokerSettings p,
#uiSettings p
{
    margin-left: 5vmin;
    font-size: 1.5em;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

#brokerSettings h3,
#uiSettings h3
{
    margin-left: 5vmin;
    font-size: 1.5em;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

#brokerSettings input[type=text],
#brokerSettings input[type=button],
#brokerSettings input[type=password],
#uiSettings input[type=text],
#uiSettings input[type=button],
#uiSettings input[type=password],
select
{
    font-size: 1em;
    width: 90%;
}

#brokerSettings input[type=button],
#uiSettings input[type=button]
{
    font-size: 1em;
    width: 90%;
    height: 2em;
}

.settingsColumn {
    flex: 50%;
}

.settingsRow {
    display: flex;
}

@media only screen and (orientation : portrait)
{
    .settingsColumn {
        flex: inherit;
    }
    
    .settingsRow {
        display: inherit;
    }
    
}






/* Landscape */
@media only screen and (orientation : landscape)
{
    #container {
        min-height:100%;
        position:relative;
        overflow: hidden;
    }
    #dataview {
        position:absolute;
        width:50%;
        right:50%;
        top: 0;
        height: 50%;
    }
    #mapview {
        position:absolute;
        top: 0;
        width:50%;
        right:0;
        height:100%;
    }
    #hudview {
        position:absolute;
        top:50%;
        right:50%;
        width:50%;
        height:50%;
    }
    @supports(bottom: max(0px)) {
        #dataview {
            width: calc(50% - max(0px, env(safe-area-inset-left)));
            /* right: calc(50% - max(0px, env(safe-area-inset-left))); */
        }
        #mapview {
            height: calc(100% - max(0px, env(safe-area-inset-bottom)));
        }
        
        .sidebar a,
        #brokerSettings a,
        #uiSettings a
        {
            padding-left: calc(5vmin + max(0px, env(safe-area-inset-left)));
        }

        #brokerSettings p,
        #brokerSettings h3,
        #uiSettings p,
        #uiSettings h3
        {
            margin-left: calc(5vmin + max(0px, env(safe-area-inset-left)));
        }
    }
}

/* Customize the label (the container) */
.checkboxtext {
    display: block;
    position: relative;
    padding-left: 1.2em;
    margin-bottom: 0.5em;
    cursor: pointer;
    font-size: 1em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .checkboxtext input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 1em;
    width: 1em;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .checkboxtext:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .checkboxtext input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .checkboxtext input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .checkboxtext .checkmark:after {
    left: 0.25em;
    top: 0;
    width: 0.3em;
    height: 0.6em;
    border: solid white;
    border-width: 0 0.2em 0.2em 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  /* Customize the label (the container) */
.radiobuttontext {
    /* display: block; */
    position: relative;
    padding-left: 1.2em;
    padding-right: 0.8em;
    margin-bottom: 0.5em;
    cursor: pointer;
    font-size: 1em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default radio button */
  .radiobuttontext input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom radio button */
  .radiomark {
    position: absolute;
    top: 0;
    left: 0;
    height: 1em;
    width: 1em;
    background-color: #eee;
    border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
  .radiobuttontext:hover input ~ .radiomark {
    background-color: #ccc;
  }
  
  /* When the radio button is checked, add a blue background */
  .radiobuttontext input:checked ~ .radiomark {
    background-color: #2196F3;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .radiomark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .radiobuttontext input:checked ~ .radiomark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .radiobuttontext .radiomark:after {
    top: 0.25em;
    left: 0.25em;
    width: 0.5em;
    height: 0.5em;
    border-radius: 50%;
    background: white;
  }

  .notification {
    position: relative;
    width: fit-content;
  }

  .badge {
    position: absolute;
    top: -0.2em;
    right: -0.2em;
    border-radius: 50%;
    background: red;
    color: white;
    width: 0.8em;
    height: 0.8em;
    display: none;
  }